---
id: 24_verification
title: Verification of a software package
sidebar_label: Verification
---
:::caution
This is page is work in progress
:::

## Verification Flow
![Verification](/img/plantuml/70_reference_verification_flow.svg)



